.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px 0;
  width: 70%;
  border-bottom: 1px solid #cecece;
  font-family: Roboto, sans-serif;
  font-weight: 100;
  font-size: 15px;
  color: #333333;
}

.todo-item-—Åheckbox {
  display: flex;
  align-items: center;
}
input[type=checkbox] {
  margin-right: 10px;
  font-size: 30px;
  cursor: pointer;
}

input[type=checkbox]:focus {
  outline: 0;
}