.Menu {
  position: fixed;
  height: 100vh;
  display: block;
  width: 80px;
  background: #1B1D29;
}

nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;



  .a {
    width: 24px;
    height: 24px;
    border: 3px solid #888991;
    border-radius: 50%;
    margin-bottom: 20px;
  }

}

// .active {
//   border: 3px solid #FFFFFF;
// }

.selected {
  .a {
   
    border: 3px solid red;
   
  }
}
